

/* ******************************************
Styles généraux
******************************************* */

* {
    box-sizing: border-box;
}

html {
    font-size      : 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height        : 100vh;
    font-family       : Arial, Helvetica, sans-serif;
    font-size         : 1.6em;
}

header {
  background-color: #f6ff00;
}

nav a {
    margin: 0 25px;
    color: blue;
}

header img {
    height: 50px;
}

footer {
    background-color: blue;
}